.moshaver{
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}





.inner1{
    background-color: #555;
    width: 50vh; /* عرض دیو کناری */
    height: 300px; /* ارتفاع دیو کناری */
    border-radius: 50px;
    overflow: hidden; /* مخفی کردن قسمت‌های اضافی */

}

@media only screen and (max-width: 1000px) {
    .inner1 img{
        display: none;
    }
    #in1{
        display: none;
    }
    #in2{
        display: none;
    }
}

.inner2{
    background-color: #333;
    width: 100vh; /* عرض دیو اصلی */
    border-radius: 50px;
    padding: 20px; /* فاصله داخلی */
    margin-top: 100px;

}

.inner1 img{
    width: 100%; /* عرض عکس */
}

.inner2 h2{
    font-size: 34px; /* اندازه فونت تایتل */
    font-weight: bold; /* پررنگ کردن تایتل */
    margin-bottom: 10px; /* فاصله بین تایتل و متن */
    color: #fff;
}


.secondmshdiv h2{
    font-size: 34px; /* اندازه فونت تایتل */
    font-weight: bold; /* پررنگ کردن تایتل */
    margin-right: 100px; /* فاصله بین تایتل و متن */
}


.card {
    width: 25em;
    height: 25em;
    box-shadow: 0px 1px 13px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 120ms;
    background: #333;
    padding: 0.5em;
    padding-bottom: 3.4em;

    margin-bottom: 40px;
}

@media only screen and (max-width: 1400px){
    .card{
        width: 15em;
        height: 15em;
    }

}

.card:hover{
    opacity: 0.7;
}


.card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #eeeeee9f;
}

.card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #ffffff;
}



.text {
    max-width: 55px;
}

.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}



.secondmshdiv{
    margin-top: 100px;
}
