* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.single{
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;

}





.singleblog{
    border: 1px solid #8E599A;
    border-radius: 40px;

}

.singleblog img{
    border-radius: 40px 40px 0 0;
}
.innersingle{
    margin-top: 0px;

    line-height: 30px;

}

.innersingle h1{
    margin-bottom: 80px;
}

.innersingle p{
    color: rgba(255, 255, 255, 0.7);
}