.darbare{
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

.firstaboutdiv{
    background-color: #222;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
}

.firstaboutdiv h1{
    font-size: 42px;
    font-weight: bold;
}

.divabout1{
    width: 50%;
    line-height: 35px;

}

.divabout1 p{
    color: rgba(255,255,255,0.7);
}

.secontaboutdiv{
    background-color: #222;
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
}

.divabout2{
    line-height: 35px;
    width: 50%;
}

#p1{
    color: rgba(255,255,255,0.9);
}

#p2{
    color: rgba(255,255,255,0.6);}

#p3{
    color: rgba(255,255,255,0.7);
}

.thirdaboutdiv{
    background-color: #222;
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
}

.divabout3{
    line-height: 35px;
    width: 50%;
}

.divabout3 p{
    color: rgba(255,255,255,0.7);
}

#imgabout{
    margin-right: 250px;
}