* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.single{
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;

}





.singletracks{
    border: 1px solid #8E599A;
    border-radius: 40px;
    margin-top: 100px;
}

.singletracks img{
    border-radius: 40px 40px 0 0;
}
.innersingle{
    line-height: 30px;
    

}

.innersingle h1{
    margin-bottom: 80px;
}

.innersingle p{
    color: rgba(255, 255, 255, 0.7);
    text-align: justify;
}

.innersingle2 p{

    line-height: 30px;
}

.innersingle2 p span{
    color: rgba(255, 255, 255, 0.7);}