* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.single{
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;

}


.firstsinglediv {
    border: 1px solid #8E599A;
    border-radius: 30px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
}



.singletracks{
    border: 1px solid #8E599A;
    border-radius: 40px;
    margin-top: 150px;
    height: auto;
}

.singletracks img{
    border-radius: 40px 40px 0 0;
    margin-right: 100px;
    width: 400px;
    margin-top: 100px;
}
.innersingle{
    margin-top: 0px;
    padding: 100px;
    line-height: 40px;
    

}

.innersingle h1{
    margin-bottom: 80px;
}

.innersingle p{
    color: rgba(255, 255, 255, 0.7);
}

.innersingle2 p{
    margin-top: 0px;

    line-height: 40px;
}

.innersingle2 p span{
    color: rgba(255, 255, 255, 0.7);}