{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مشاوره</title>
    <link href="{% static 'vendor/bootstrap.rtl.min.css'%}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/moshavere.css' %}">
    <link rel="stylesheet" href="{% static 'css/music.css' %}">

</head>

<body class="bg-black text-white moshaver">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark d header_items">
            <div class="container-fluid">
                <a href="/"> <img src="{% static 'img/logo.png' %}" alt="logo" width="200px"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ">
                    </ul>
                    <ul class="navbar-nav mx-auto  border-bottom rounded-bottom-5 border-start border-end px-5 pb-2">
                        <li class="nav-item">
                            <a class="nav-link pe-5" aria-current="page" href="{% url 'home:home_page' %}">خانه</a>
                        </li>
                        <li class="nav-item pe-5 ps-3">
                            <a class="nav-link" href="{% url 'music:music_page' %}">موسیقی</a>
                        </li>
                        <li class="nav-item pe-5 ps-3">
                            <a class="nav-link " href="azmoon.html">آزمون</a>
                        </li>
                        <li class="nav-item pe-5 ps-3">
                            <a class="nav-link active" href="{% url 'moshavere:moshavere_page' %}">مشاوره</a>
                        </li>
                        <li class="nav-item pe-5 ps-3">
                            <a class="nav-link" href="{% url 'blog:blog_page' page_num=1 %}">بلاگ</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link" href="{% url 'About:About_page' %}">درباره من</a>
                        </li>

                    </ul>
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{user.first_name}}
                            <img src="{% static 'img/logoaccount.png'%}" alt="" width="40px">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'account:logout_page' %}">خروج از اکانت</a></li>
                        </ul>
                    </div>
                    
    
                    {% else %}
                    <a href="{% url 'account:register_page' %}"><button type="button"
                        class=" signbtn rounded-5 ps-3 pe-3 pt-1 pb-1">ثبت نام | ورود </button></a>
                        {% endif %}
                        <button type="button" class="btn btn-outline-light mx-3" data-bs-toggle="modal"
                            data-bs-target="#searchModal">
                            <i class="fas fa-search "></i>
                        </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="firstmshdiv">
            <div class="inner2">
                <div style="width: 80%; float: left;line-height: 30px;">
                    {% for item in moshaverep %}
                    <h2>{{item.title}}</h2>
                    <p>
                        {{item.content | safe}}
                    </p>
                    {% endfor %}
                </div>
                <div class="inner1">
                    <img src="{% static 'img/moshaver1.png' %}" alt="">
                </div>
            </div>
            <div class="inner2" style="margin-top: 400px;">
                <div style="width: 80%; float: left;line-height: 30px;" id="moshaveret2">
                    {% for item in moshavereb %}
                    <h2>{{item.title}}</h2>
                    <p>
                        {{item.content | safe}}
                    </p>
                    {% endfor %}
                </div>
                <div class="inner1">
                    <img src="{% static 'img/moshaver2.png' %}" alt="">
                </div>
            </div>
        </div>
        <div class="secondmshdiv">
            <h2 class="text-white">مشاوره</h2>
                <div class="cardgroups container" style="width:70% ;border:1px solid yellow; padding: 100px;border-radius: 30px; margin-bottom: 100px;">
                    {% for item in card%}
                    <a href=""><div class="card">
                        <img class="image" src="{{item.image.url}}">
                        <span class="title" style="font-size: 20px;color: #fff;">{{item.title}}</span>
                        <span class="price">{{item.price}} تومان</span>
                    </div></a> 
                    {% endfor %}           
                </div>
            </div>

        </div>
    </main>
    <footer class="footer" style="margin-top: 3400px;">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>آزمون ها</h4>
                    <ul>
                        <li><a href="#">• تست‌های استرس و اضطراب</a></li>
                        <li><a href="#">• تست‌های شغلی</a></li>
                        <li><a href="#">• تست‌های شخصیتی</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>درباره من</h4>
                    <ul>
                        <li><a href="#">• فلسفه</a></li>
                        <li><a href="#">• کسب و کار</a></li>
                        <li><a href="#">• موسیقی</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>مشاوره ها</h4>
                    <ul>
                        <li><a href="#">• توسعه فردی</a></li>
                        <li><a href="#">• توسعه کسب و کار</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ASHKAN RAFIE</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="static/js/vendor/bootstrap.bundle.min.js"></script>

</body>

</html>